<nav id="container"></nav>
    <ul id="navbar">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/news-feed">News Feed</a></li>
        <li class="nav-item"><a href="/pointplotter">Point Plotter</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
        <li class="nav-item"><a href="/login">Login</a></li>
        <li class="nav-item"><a href="/signup">Signup</a></li>
    </ul>
